.box{
    margin: 1px;
    padding: 2px;
    border: 1px solid black;
}
.biggerbox{
    background-color:antiquewhite;
    display: grid;
  grid-template-columns: auto auto auto auto ;
  padding: 10px;
}

.box h4{
    text-align: center;
}